@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.hero {
  // height: calc(100dvh + 20px);
  min-height: calc(var(--vh, 1vh) * 100 + 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-black-pearl;
  color: $color-white;
  text-align: center;
  opacity: 0;

  @include from-md {
    height: calc(var(--vh, 1vh) * 100 + 30px);
  }

  @include from-xl {
    height: calc(var(--vh, 1vh) * 100 + 60px);
  }

  // @include from-md {
  //   height: calc(100vh + 30px);
  // }

  // @include from-xl {
  //   height: calc(100vh + 60px);
  // }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 90px;
    position: relative;
    max-width: 100%;
    left: 0;

    @include from-md {
      max-width: 385px;
      left: calc(50% - 192px);
      gap: 110px;
    }

    @include from-xl {
      max-width: 736px;
      left: calc(50% - 368px);
      gap: 130px;
    }
  }

  &__author-logo {
    mask-image: linear-gradient(to right, $color-black 0%, $color-black 100%);
    mask-repeat: no-repeat;
    mask-size: 0% 100%;
    mask-position: left;
    -webkit-mask-image: linear-gradient(
      to right,
      $color-black 0%,
      $color-black 100%
    );
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 0% 100%;
    -webkit-mask-position: left;
    opacity: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;

    @include from-md {
      flex-direction: row;
      gap: 10px;
    }

    @include from-xl {
      gap: 15px;
    }
  }

  &__name {
    width: 146px;
    height: 29px;

    @include from-xl {
      width: 235px;
      height: 46px;
    }
  }

  &__surname {
    width: 225px;
    height: 33px;

    @include from-xl {
      width: 364px;
      height: 53px;
    }
  }

  &__line {
    width: 2px;
    height: 50px;
    background-color: $color-white;
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate3d(-50%, -50%, 0);

    @include from-md {
      top: 52%;
    }

    @include from-xl {
      height: 70px;
      top: 54%;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    font-family: inherit;
    margin: 0;
    opacity: 0;
    height: 30px;

    @include from-xl {
      font-size: 40px;
      line-height: 48px;
      height: 48px;
    }
  }
}
