@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.modal {
  &__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1002;
    width: 100vw;
    height: 100vh;
    background: $color-black-pearl-70;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    background-color: $color-white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 35px 40px;
    z-index: 1001;
    box-shadow: 3px 3px 4px $color-black-pearl-30;
    position: absolute;

    @include from-md {
      border-radius: 20px;
      padding: 30px 90px;
    }

    @include from-xl {
      border-radius: 30px;
      padding: 40px 100px;
    }
  }

  &__header-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    color: $color-black-pearl;
    margin: 0 auto 25px;
    padding: 0;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;

    @include from-md {
      margin: 0 auto 30px;
      font-size: 24px;
      line-height: 28px;
    }

    @include from-xl {
      margin: 0 auto 40px;
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__close {
    background-color: $color-white;
    color: $color-black-pearl;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    box-shadow: 0 3px 3px $color-black-pearl-30;
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    transition:
      background-color $transition-300,
      color $transition-300;

    @include from-md {
      width: 30px;
      height: 30px;
      top: 16px;
      right: 16px;
    }

    @include from-xl {
      width: 32px;
      height: 32px;
      top: 24px;
      right: 24px;
    }
  }

  &__close:hover,
  &__close:focus-visible {
    background-color: $color-black-pearl;
    color: $color-white;
    outline: none;
  }

  &__close-icon {
    width: 22px;
    height: 22px;
    fill: currentColor;
    pointer-events: none;
    transform: translateZ(0);
  }
}
