@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.project-card {
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;

  @include from-md {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
  }

  &__image-wrapper {
    min-width: 290px;
    height: 300px;
    border-radius: 16px;
    margin: 0 auto;
    overflow: hidden;

    @include from-md {
      min-width: 600px;
      height: 350px;
      border-radius: 20px;
    }

    @include from-lg {
      min-width: 720px;
      height: 400px;
      border-radius: 30px;
    }

    @include from-xl {
      min-width: 1000px;
      height: 590px;
    }

    @include from-xxl {
      min-width: 1200px;
      height: 690px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    padding: 0;
    margin: 0 auto;
    background: transparent;
    color: $color-chardon;

    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    pointer-events: none;

    @include from-md {
      font-size: 60px;
      line-height: 70px;
    }

    @include from-xl {
      font-size: 120px;
      line-height: 120px;
    }
  }

  &__cursor-hint {
    position: absolute;
    top: 15px;
    right: 20px;
    padding: 0;
    margin: 0;
    background: transparent;
    color: $color-chardon;
    font-family: $ff-secondary;
    text-align: right;
    font-size: 14px;
    line-height: 16px;
    width: 140px;

    @include from-md {
      width: 200px;
    }

    @include from-lg {
      display: none;
    }
  }

  &__view-cursor {
    display: none;

    @include from-md {
      display: block;
      position: absolute;
      pointer-events: none;
      transform: translate(-50%, -50%);
      background: $color-chardon;
      color: $color-hemp;
      text-transform: uppercase;
      padding: 7px 12px;
      font-size: 14px;
      line-height: 16px;
      border-radius: 50px;
      white-space: nowrap;
      font-weight: 700;
    }

    @include from-xl {
      padding: 7px 18px;
      font-size: 16px;
      line-height: 20px;
      border-radius: 50px;
      white-space: nowrap;
      font-weight: 700;
    }
  }
}
