@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.faq-slider {
  padding: 0;
  margin: 0 0 110px;
  width: 100%;
  overflow: hidden;
  position: relative;

  @include from-md {
    margin: 0 0 150px;
  }

  @include from-xl {
    margin: 0 0 210px;
  }

  &__title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    margin: 0 0 60px;
    text-align: center;
    text-transform: uppercase;

    @include from-md {
      font-size: 36px;
      line-height: 42px;
          margin: 0 0 60px;
    }

    @include from-xl {
      font-size: 50px;
      line-height: 52px;
          margin: 0 0 60px;
    }
  }

  &__track {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    flex-wrap: nowrap;
    cursor: grab;
    user-select: none;

    cursor: grab;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    &:active {
      cursor: grabbing;
    }

    @include from-md {
      gap: 25px;
    }

    @include from-xl {
      gap: 55px;
    }
  }
}
