@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.projects-gallery {
  display: flex;
  flex-direction: column;
  padding: 40px 25px;
  margin: 0 auto 60px;
  gap: 20px;
  background-color: $color-black-pearl;

  @include from-md {
    display: block;
    position: relative;
    width: 100%;
    overflow: clip;
    padding: 85px 0 0;
    margin: 0 auto 110px;
  }

  &__title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
    color: $color-white;
    pointer-events: none;
    text-transform: uppercase;

    @include from-md {
      font-size: 36px;
      line-height: 40px;
    }

    @include from-xl {
      font-size: 50px;
      line-height: 52px;
    }

    @include from-xxl {
      margin-bottom: 40px;
    }
  }

  &__stage {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include from-md {
      display: block;
      position: relative;
      height: 100vh;
      width: 100%;
      overflow: hidden;
    }
  }
}
