@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.skills {
  margin: 0 0 100px;
  width: 100%;
  overflow-x: clip;

  @include from-md {
    margin: 0 0 140px;
  }

  @include from-xl {
    margin: 0 0 210px;
  }

  &__title {
    font-size: 24px;
    line-height: 26px;

    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 40px;
    text-align: center;

    @include from-md {
      font-size: 36px;
      line-height: 42px;
      margin: 0 0 50px;
    }

    @include from-xl {
      font-size: 50px;
      line-height: 52px;
      margin: 0 0 60px;
    }
  }

  &__accordions {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    margin: 0 auto;
    position: relative;

    @include from-sm {
      gap: 25px;
    }

    @include from-md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      overflow: visible;
      padding: 60px;
      max-width: 90%;
      gap: 20px 35px;
      align-items: flex-start;
    }

    @include from-lg {
      max-width: 80%;
    }

    @include from-xl {
      max-width: 70%;
      overflow: visible;
      padding: 80px 60px;
      gap: 20px 35px;
    }

    @include from-xxl {
      display: flex;
      flex-direction: row;
      max-width: 1500px;
      gap: 15px;
      padding: 80px 20px;
    }
  }

  &__accordions::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 322px;
    top: 0;
    left: 50%;
    background-color: $color-dark-gray;
    transform: translateX(-50%);

    @include from-sm {
      height: 352px;
    }

    @include from-md {
      height: 236px;
    }

    @include from-lg {
      height: 240px;
    }

    @include from-xl {
      height: 280px;
    }

    @include from-xxl {
      height: 220px;
    }
  }
}
