@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.about {
  position: relative;
  margin: -20px 0 40px;
  padding: 35px 0 20px;

  @include from-md {
    margin: -30px 0 50px;
  }

  @include from-xl {
    margin: -60px 0 90px;
    padding: 0;
  }

  &__bg {
    position: absolute;
    inset: 0;
    width: 100%;
    background: $color-chardon;
    border-radius: 20px 20px 0 0;
    z-index: 1;
    will-change: transform;
    transform-origin: bottom center;

    @include from-md {
      inset: 0;
      border-radius: 30px 30px 0 0;
    }

    @include from-xl {
      top: 0;
      left: 0;
      right: 0;
      border-radius: 45px 45px 0 0;
      height: 550px;
    }

        @include from-xxl {
      border-radius: 60px 60px 0 0;
    }
  }

  &__inner {
    padding: 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    top: -17px;

    @include from-md {
      display: grid;
      grid-template-columns: 1fr 220px;
      gap: 15px 35px;
    }

    @include from-xl {
      display: grid;
      grid-template-columns: 1fr 720px;
      grid-template-rows: 450px 1fr;
      gap: 0 100px;
      max-width: 1280px;
    }
  }

  &__profile {
    display: flex;
    margin: 0 0 20px;
    padding: 0;
    align-items: center;
    max-width: 335px;
    max-height: 170px;

    @include from-md {
      margin: 0;
      grid-column: 2 / 3;
      max-width: 220px;
      max-height: 259px;
    }

    @include from-xl {
      grid-column: 1 / 2;
      grid-row: span 2;
      margin-left: auto;
      max-width: 401px;
      min-height: 583px;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    opacity: 1;

    @include from-md {
      border-radius: 16px;
      margin: 0;
    }

    @include from-xl {
      border-radius: 20px;
      opacity: 0;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 30px;

    @include from-md {
      margin: 0;
      grid-column: 1 / 2;
      grid-row: 1 / 3;
    }

    @include from-xl {
      margin: 50px 0 0;
      grid-column: 2 / 3;
      align-self: start;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 26px;
    margin: 0 0 15px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    @include from-md {
      font-size: 36px;
      line-height: 42px;
      margin: 0 0 13px;
      text-align: left;
    }
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    overflow: visible;

    @include from-md {
      gap: 13px;
    }
  }

  &__text {
    font-size: 13px;
    line-height: 17px;
    margin: 0;
    overflow: hidden;

    @include from-md {
      font-size: 16px;
      line-height: 18px;
    }

    @include from-xl {
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__btn {
    margin: 0 auto;

    @include from-md {
      margin: 0 0 25px;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    @include from-xl {
      margin: 0 0 40px;
    }
  }
}
