@font-face {
  font-family: "Syne";
  src:
    url("/fonts/Syne-Regular.woff2") format("woff2"),
    url("/fonts/Syne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src:
    url("/fonts/Syne-Medium.woff2") format("woff2"),
    url("/fonts/Syne-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src:
    url("/fonts/Syne-SemiBold.woff2") format("woff2"),
    url("/fonts/Syne-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Syne";
  src:
    url("/fonts/Syne-Bold.woff2") format("woff2"),
    url("/fonts/Syne-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GolosText";
  src:
    url("/fonts/GolosText-Regular.woff2") format("woff2"),
    url("/fonts/GolosText-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "EuropaNuova";
  src:
    url("/fonts/EuropaNuova-Regular.woff2") format("woff2"),
    url("/fonts/EuropaNuova-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FundamentalBrigade";
  src:
    url("/fonts/Fundamental-brigade.woff2") format("woff2"),
    url("/fonts/Fundamental-brigade.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "a-avantebs";
  src:
    url("/fonts/a-avantebs.woff2") format("woff2"),
    url("/fonts/a-avantebs.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "a-avanteint-book";
  src:
    url("/fonts/a-avanteint-book.woff2") format("woff2"),
    url("/fonts/a-avanteint-book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Saira";
  src:
    url("/fonts/saira-regular.woff2") format("woff2"),
    url("/fonts/saira-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "muli";
  src:
    url("/fonts/muli-light.woff2") format("woff2"),
    url("/fonts/muli-light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "josefin-sans";
  src:
    url("/fonts/josefin-sans.woff2") format("woff2"),
    url("/fonts/josefin-sans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
