@use "variables" as *;
@use "@/shared/styles/mixins" as *;

#root {
  min-width: 100%;
  min-height: 100vh;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: $ff-main;
  
  scroll-padding-top: 200px;
  scroll-behavior: smooth;
}

html[lang="ru"] {
  font-family: $ff-main-ru;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color-black-pearl;
  background-color: $color-white;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

.scroll-section {
  scroll-margin-top: -90px;

  @include from-md {
    scroll-margin-top: -60px;
  }

  @include from-xl {
    scroll-margin-top: -20px;
  }
}
