.not-found-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
  margin: 0;
  padding: 60px 0 0;

  &__img {
    display: flex;
    width: 700px;
    height: auto;
  }
}
